@use "sass:string";

// 调整 oklch 透明度
@function oklch-alpha($color, $alpha) {
    $color-str: #{$color}; // 转为字符串
    $slash-index: string.index($color-str, '/');
    $return: #{string.slice($color-str, 1, -2)} + " / " + #{$alpha} + ")";

    @return $return;
}

// 字符串替换
@function str-replace($string, $search, $replace: "") {
    $index: string.index($string, $search);

    @if $index {
        @return string.slice($string, 1, $index - 1) + 
            $replace + 
            str-replace(string.slice($string, $index + string.length($search)), $search, $replace);
    }

    @return $string;
}