@use "sass:string";

// 调整 oklch 透明度
@function oklch-alpha($color, $alpha) {
    $color-str: #{$color}; // 转为字符串
    $slash-index: string.index($color-str, '/');
    $return: #{string.slice($color-str, 1, -2)} + " / " + #{$alpha} + ")";

    @return $return;
}