@use 'sass:meta';

@use "functions";

// 设置css属性
@mixin set-property($property, $value) {
    #{$property}: $value;
}

// 生成颜色变量
@mixin gen-color-vars($color) {
    @each $name, $value in $color {
        --color-#{$name}: #{$value};
    }
}

// 生成颜色class
@mixin gen-color-class($arr, $property, $classPrefix: null) {
    $prefix: if($classPrefix == null, '', "#{$classPrefix}-");

    @each $key, $value in $arr {
        .#{$prefix}#{$key} {
            @include set-property($property, #{var(--color-#{$key})});
        }
    }
}

// 按清晰度生成颜色class
$color-alpha-list: 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;
@mixin gen-color-alpha-class($arr, $property, $classPrefix: null) {
    $prefix: if($classPrefix == null, '', "#{$classPrefix}-");

    @each $key, $value in $arr {
        @each $alpha in $color-alpha-list {
            $alpha-value: calc($alpha / 100);

            .#{$prefix}#{$key}-alpha-#{$alpha} {

                @include set-property($property, functions.oklch-alpha($value, $alpha-value));
            }
        }
    }
}

// 生成样式
@mixin gen-class($prefix, $subfix, $property, $value) {

    .#{$prefix}-#{meta.inspect($subfix)} {
        @include set-property($property, $value);
    }
}