@use "mixins";
@use "color";
@use "functions";

$svg-values: (
    none: none,
    inherit: inherit,
    current: currentColor,
    transparent: transparent
);

$svg-property: fill, stroke;

// svg 特殊值
@each $key, $value in $svg-values {
    @each $class in $svg-property {
        @include mixins.gen-class($class, $key, $class, $value);
    }
}

// svg 颜色
@each $property in $svg-property {
    @each $colorItem in color.$color-list {
        @each $colorName, $colorValue in $colorItem {
            .#{$property}-#{$colorName} {
                @include mixins.set-property($property, #{var(--color-#{$colorName})});
            }
        }
    }
}

$stroke-width: 0, 1, 1.5, 2, 3, 4, 6, 8;

@each $width in $stroke-width {
    $w: functions.str-replace(#{$width}, ".", "_");
    
    .stroke-width-#{$w} {
        stroke-width: $width;
    }
}
